@media (min-width: 600px) and (max-width: 1100px) {
    .output-area{
        font-size: auto;
        height: 30%;
    }
    .input-area{
        width: auto;
        /* min-width: 180; */
        min-height: 14vh;
    }
    .interface{
        width: 500px;
        margin: 20vh auto;
    }
}


@media(max-width:600px){
    .interface{
        width: 80%;
        margin: 20vh auto;
    }
}