body{
    background-color: #457b9d;

}
.interface{
    /* margin when set to auto it sets the inside div element to center or middle of div dimensions */
    margin: 20vh auto;
    width: 23vw;
    height: 45vh;
}
.output-area{
    height: 30%;
    background-color: #52b69a   ;
    /* background-color: #023047; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    padding: 1.48vh 0.65vw;
}

.output-area .previous-operand{

    font-size: 2.5vh;
    color: rgba(256, 256, 256, 0.7);
    opacity: .75;

}

.output-area .current-operand{

    font-size: 3.5vh;
    padding-bottom: 0;
    color: rgba(256, 256, 256);

}
.input-area{
    border: 3px solid #bc6c25;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
}
#keys{

    width: 25%;
    height: 5vh;
    background-color: #4a4e69;
    background-color: #fb8500;
    padding-top: 1.22px;
    /* shadow for emerging effect to keys */
        box-shadow:
        0 2.8px 10px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);

}

.key-1{
    width: 50% !important;
    background-color: #43aa8b !important;
    background-color: #e5383b !important;
}

